/.DS_Store
/.Rhistory
/.RData
/.Ruserdata

/.Rproj.user/
/*.Rproj

/.rlib/
/vendor-build/
/src/vendor-build/
/src/Makevars
/src/*.o
/src/*.so
/src/*.dll
/src/*.a
/src/*.d
/src/*.dSYM/

/*.tar.gz
/*.zip
